<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src = "../js/vue.js"></script>
    <title>template</title>
</head>
<body>

    <div id = "root">        
       <h2>学校信息</h2>
        <h4>{{name}}</h4>
        <h2>学生信息</h2>
        <h4>name:{{student.name}}</h4>         
        <div>朋友们</div>
        <ul>
            <li v-for="(f,index) in student.friends" :key="index">{{f}}</li>
        </ul>
        <h3 v-if="student.sex" >性别:{{student.sex}}</h3>        
        <button @click="addMessage">
            动态添加一条信息
        </button>
    </div>

    <script type="text/javascript">
       const vm =  new Vue({
        el:"#root",
        data:{            
            name:"The golden rule of trading the system",
            student:{
                name:"RSI",                
                friends:[
                "is to only trade",
                "in the direction",
                "of the predomination"
                ]
            }    

        },
        methods: {
            // 给这个studnet 添加一个性别
            addMessage(){
                Vue.set(this.student,"sex","male")            
            }
        },        
        
       })

       

    </script>
    
</body>
</html>

